<!DOCTYPE html>
<html lang="en">
<head>
   
    <title><%= title %></title>

    <%- include("../partial/Meta.ejs")%>
</head>
<body>
    <%- include("../partial/section.ejs")%>
    <%- include("../partial/lets.ejs")%>

    
   
</body>
</html>